body
{
    font-family: "Cascadia Code", monospace;
}

.note
{
    color: green;
    background-color: yellow;
    font-size: 2em;
}

.survey
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
